# 라이브러리 가져오기

In [2]:
import numpy as np
import csv
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
#csv는 엑셀과 달리 , 를 통해 데이터를 구분
colors = ["black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" ,"black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan", "darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan", "darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate","darkorange","tan","darkgoldenrod","gold","olive","yellow","yellowgreen","darkseagreen","lightgreen","forestgreen", "springgreen","aqua", "deepskyblue","navy", "blue", "slateblue","rebeccapurple" , "black", "silver","rosybrown","brown","red","chocolate"]
# 한글 폰트 사용을 위해서 세팅

import matplotlib

matplotlib.rcParams['font.family'] ='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] =False

# 데이터 가져오기

In [3]:
# 대출 데이터
lib_bor = pd.read_csv("./데이터2022/데이터_단행본대출.csv", encoding = 'cp949',low_memory=False) 
lib_bor = lib_bor.dropna(how='any') #-> NA하나라도 있으면 지움
lib_bor= lib_bor.drop([lib_bor.columns[0],lib_bor.columns[1],lib_bor.columns[2],lib_bor.columns[5],lib_bor.columns[9]], axis= 1)

#도서 데이터
book = pd.read_csv("./데이터2022/데이터_단행본도서.csv", encoding = 'cp949',low_memory=False) 
book = book.dropna(how='any') #-> NA하나라도 있으면 지움
book= book.drop([book.columns[0],book.columns[1],book.columns[2],book.columns[3],book.columns[6],book.columns[7],book.columns[8],book.columns[9],book.columns[11],book.columns[12]], axis= 1)

# 데이터 합병

In [4]:
bor_book =pd.merge(lib_bor,book, on = ['ISBN','서명'], how = 'outer')
bor_book = bor_book.dropna(how='any') #-> NA하나라도 있으면 지움
bor_book.index = np.arange(len(bor_book))
bor_book['연대출권수'] = bor_book['연대출권수'].astype(int)
bor_book['입학년도'] = bor_book['입학년도'].astype(int)

In [7]:
#bor_book =bor_book.drop_duplicates(['연대출권수' ,'입학년도','소속'])
bor_book =bor_book.drop_duplicates(['연대출권수' ,'입학년도','소속','서명'])
bor_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59428 entries, 0 to 377011
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISBN    59428 non-null  object
 1   서명      59428 non-null  object
 2   연대출권수   59428 non-null  int32
 3   입학년도    59428 non-null  int32
 4   소속      59428 non-null  object
 5   분류코드    59428 non-null  object
dtypes: int32(2), object(4)
memory usage: 2.7+ MB

In [8]:
bor_book.head(10)

             ISBN                서명  연대출권수  입학년도        소속   분류코드
0   9788970551234           소유냐 삶이냐     90  2014    금융경제학과  111.1
2   9788970551234           소유냐 삶이냐      6  2016     컴퓨터학부  111.1
6   9788970551234           소유냐 삶이냐      7  2014     컴퓨터학부  111.1
8   9788970551234           소유냐 삶이냐     95  2010      경제학과  111.1
16  9788970551234           소유냐 삶이냐     39  2017      금융학부  111.1
20  9788970551234           소유냐 삶이냐    195  2012  글로벌미디어학부  111.1
22  9788970551234           소유냐 삶이냐     85  2017       철학과  111.1
26  9788970551234           소유냐 삶이냐     26  2017       철학과  111.1
28  9791186289501  노동법 원포인트 판례 170선     49  2010  벤처중소기업학과  348.6
30  9791186289501  노동법 원포인트 판례 170선     46  2010  벤처중소기업학과  348.6

# 데어터 전처리

In [9]:
bor_book['분류코드'] =bor_book['분류코드'].astype(str)
bor_book['분류코드'] = bor_book['분류코드'].apply(lambda x : x[:3])
bor_book['분류코드'] =bor_book['분류코드'].astype(int)
bor_book['분류코드'] = bor_book['분류코드'].apply(lambda x : (x//10)*10)
bor_book.head(10)

             ISBN                서명  연대출권수  입학년도        소속  분류코드
0   9788970551234           소유냐 삶이냐     90  2014    금융경제학과   110
2   9788970551234           소유냐 삶이냐      6  2016     컴퓨터학부   110
6   9788970551234           소유냐 삶이냐      7  2014     컴퓨터학부   110
8   9788970551234           소유냐 삶이냐     95  2010      경제학과   110
16  9788970551234           소유냐 삶이냐     39  2017      금융학부   110
20  9788970551234           소유냐 삶이냐    195  2012  글로벌미디어학부   110
22  9788970551234           소유냐 삶이냐     85  2017       철학과   110
26  9788970551234           소유냐 삶이냐     26  2017       철학과   110
28  9791186289501  노동법 원포인트 판례 170선     49  2010  벤처중소기업학과   340
30  9791186289501  노동법 원포인트 판례 170선     46  2010  벤처중소기업학과   340

In [10]:
#전체 베스트 셀러
item_count = bor_book['서명'].value_counts()[:10]
for idx, (val,cnt) in enumerate (item_count.iteritems(),1):
    print('Top',idx,":",val,cnt)

Top 1 : 왜 나는 너를 사랑하는가 212
Top 2 : 참을 수 없는 존재의 가벼움 202
Top 3 : 데미안 173
Top 4 : 총, 균, 쇠 :무기, 병균, 금속은 인류의 운명을 어떻게 바꿨는가 158
Top 5 : 사랑의 기술 150
Top 6 : 미분적분학 =Calculus 144
Top 7 : 이갈리아의 딸들 143
Top 8 : 위대한 개츠비 135
Top 9 : 역사란 무엇인가 126
Top 10 : 멋진 신세계 123

In [11]:
bor_book = bor_book[bor_book['입학년도']> 2011]
bor_book.head(15)

             ISBN                서명  연대출권수  입학년도        소속  분류코드
0   9788970551234           소유냐 삶이냐     90  2014    금융경제학과   110
2   9788970551234           소유냐 삶이냐      6  2016     컴퓨터학부   110
6   9788970551234           소유냐 삶이냐      7  2014     컴퓨터학부   110
16  9788970551234           소유냐 삶이냐     39  2017      금융학부   110
20  9788970551234           소유냐 삶이냐    195  2012  글로벌미디어학부   110
22  9788970551234           소유냐 삶이냐     85  2017       철학과   110
26  9788970551234           소유냐 삶이냐     26  2017       철학과   110
40  9791186289501  노동법 원포인트 판례 170선     43  2015       법학과   340
46  9791186289501  노동법 원포인트 판례 170선     17  2014    국제법무학과   340
58  9791186289501  노동법 원포인트 판례 170선     33  2013      경영학부   340
72  9791186289501  노동법 원포인트 판례 170선     47  2016       법학과   340
82  9791186289501  노동법 원포인트 판례 170선      6  2016    국제법무학과   340
84  9791186289501  노동법 원포인트 판례 170선     27  2015       법학과   340
90  9791186289501  노동법 원포인트 판례 170선    106  2015       법학과   340
92  9791186289501  노동법 원포인트 판례 170선     35  2014    사회복지학부   340

# 학과별 베스트 셀러 추천 서비스

In [31]:
tmp_lst = list(bor_book['소속'])
exist_dept = list(set(tmp_lst)) #중복원소 제거 단 순서는 뒤죽박죽 -> 무관하기에 사용
print(exist_dept)

['국제법무학과', '스포츠학부', '영어영문학과', '평생교육학과', '전자정보공학부 전자공학전공', '사학과', '화학공학과', '금융학부', '법학과', '기독교학과', 'AI융합학부', '행정학부', '불어불문학과', '독어독문학과', '혁신경영학과(계약학과)', '글로벌통상학과', '전자정보공학부 IT융합전공', '경제학과', '회계학과', '수학과', '물리학과', '전기공학부', '언론홍보학과', '산업·정보시스템공학과', '미디어경영학과', '정보통신전자공학부', '컴퓨터학부', '복지경영학과(계약학과)', '정보통계·보험수리학과', '철학과', '융합특성화자유전공학부', '국어국문학과', '건축학부', '경영학부', '벤처중소기업학과', '소프트웨어학부', '예술창작학부 영화예술전공', '벤처경영학과(계약학과)', '중어중문학과', '일어일문학과', '예술창작학부 문예창작전공', '유기신소재·파이버공학과', '국제무역학과', '금융경제학과', '정치외교학과', '정보사회학과', '글로벌미디어학부', '의생명시스템학부', '사회복지학부', '기계공학부', '화학과']

In [71]:
#12~ 21
best_seller_dataframe = []
for dept in exist_dept:
    tmp_data_frame = bor_book[bor_book['소속']== dept]
    best_seller_dataframe.append(pd.DataFrame(data= tmp_data_frame))
best_seller_dataframe[1]

,ISBN,서명,연대출권수,입학년도,소속,분류코드
2956,9788994543567,호주 워킹홀리데이 완전정복 Q＆A :그리고 그에 관한 독설,11,2013,스포츠학부,910
15174,9788961881418,(프렌즈) 이탈리아 =Italy,3,2014,스포츠학부,910
17777,9788986836240,왜 나는 너를 사랑하는가,1,2012,스포츠학부,820
36813,9788936506391,침묵,1,2018,스포츠학부,810
42407,9788984049062,(한주섭 교수의 최신) 화환신용장론,9,2013,스포츠학부,330
...,...,...,...,...,...,...
372642,9788955657166,의사소통기술 :그 이론과 실제,1,2017,스포츠학부,800
373138,9788920039539,(필립 코틀러의) 스포츠 브랜드 마케팅 :진화하는 스포츠팬을 살잡는 치고의 브랜딩 전략,67,2019,스포츠학부,790
374564,9788964813591,유형별 회계학 :K-IFRS 회계원리,6,2015,스포츠학부,650
376060,9788959644889,유아 동작교육 프로그램,2,2019,스포츠학부,370
376826,9788962698589,(합격예감) 건강운동관리사 단기완성: 필기+실기,6,2018,스포츠학부,790

In [92]:
#학과 별 베스트 셀러(2012~2021)
########################################################################
department = input("본인의 학과를 입력해주세요 \n\n")#
########################################################################
target_dept = ''

for index_num in range(0,len(best_seller_dataframe)):
    
    my_zip = best_seller_dataframe[index_num]['소속'].value_counts().iteritems()
    for tmp_target_dept,count in best_seller_dataframe[index_num]['소속'].value_counts().iteritems(): #언패킹하기
        target_dept = tmp_target_dept
    if target_dept == department: #보고 싶은 학과
        print("\n-------------------------",department,"-------------------------")
        test = best_seller_dataframe[index_num]["서명"]
        item_count = test.value_counts()[:10]
        for idx, (val,cnt) in enumerate (item_count.iteritems(),1):
            print("")
            print('Top',idx,":",val,cnt)
        print("")

본인의 학과를 입력해주세요

전자정보공학부 IT융합전공

------------------------- 전자정보공학부 IT융합전공 -------------------------

Top 1 : 통신이론 18

Top 2 : (먼저 배우는) DSP 17

Top 3 : (Hayt의) 전자기학 16

Top 4 : 신호 및 시스템 15

Top 5 : (객체지향 원리로 이해하는) Absolute C++ 14

Top 6 : 미분적분학 =Calculus 10

Top 7 : Computer networking :a top-down approach 10

Top 8 : Engineering electromagnetics 10

Top 9 : ARM system－on－chip 구조 9

Top 10 : (윤성우의 열혈) TCP/IP 소켓 프로그래밍 9

# 학과 별 DDC 추천서비스

In [93]:
#학과 별 ddc 추천서비스
########################################################################
department = input("본인의 학과를 입력해주세요 \n\n")#
########################################################################
target_dept = ''

for index_num in range(0,len(best_seller_dataframe)):
    
    my_zip = best_seller_dataframe[index_num]['소속'].value_counts().iteritems()
    for tmp_target_dept,count in best_seller_dataframe[index_num]['소속'].value_counts().iteritems(): #언패킹하기
        target_dept = tmp_target_dept
    if target_dept == department: #보고 싶은 학과
        print("\n-------------------------",department,"-------------------------")
        test = best_seller_dataframe[index_num]["분류코드"]
        item_count = test.value_counts()[:5]
        for idx, (val,cnt) in enumerate (item_count.iteritems(),1):
            print("")
            print(val)
        print("")

본인의 학과를 입력해주세요

전자정보공학부 IT융합전공

------------------------- 전자정보공학부 IT융합전공 -------------------------

0

620

510

530

810